a:link {
    color: rgb(211, 212, 227);
    transition-duration: 325ms;
    background-color: transparent;

}

a:visited {
    color: rgb(211, 212, 227);
    background-color: transparent;
}

a:hover {
    background-color: transparent;
    color: rgb(200, 82, 204);

}

a:active {
    color: rgb(211, 212, 227);
    background-color: transparent;
}


body, html {
    font-family: 'Work Sans', sans-serif;
    height: 95%;
    background-color: rgb(12, 10, 47);
    overflow: hidden;
}


.tab {
    font-size: 0.8em;
    overflow: hidden;
    background-color: rgb(12, 10, 47);
    text-decoration: none;

}

/* Style the buttons that are used to open the tab content */
.tab a {
    color: rgb(211, 212, 227);
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5%;
    border: 0.075em solid rgb(200, 82, 204);
    margin: 1em;
}

.tab a:active {
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background color of buttons on hover */
.tab a:hover {
    cursor: pointer;
    background-color: rgba(200, 82, 204, 0.1);
    color: rgb(200, 82, 204)

}

h1 {
    font-size: 70px;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}


.text {
    color: rgb(141, 150, 179);
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    float: left;
    width: 66%;
}


.list {
    text-align: left;

}

.icon {
    padding-top: 2vh;
    font-size: 0.8em;

}

.icon a {
    text-decoration: none;
    padding-left: 0.2em;
    padding-right: 0.2em;

}

.icon a:hover {
    text-decoration: none;
}

body, html {
    height: 100%;

}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}


i {
    padding-left: 1em;
    padding-right: 1em;
}

/*
@media screen and (min-width: 1000px) {
    body {
        height: 120%;
    }
}

@media screen and (max-width: 800px) {
    body {
        height: 100%;
    }
}*/

#typed {
    margin: auto;
    width: 700px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    animation: type 4s steps(60, end);
}


.resume {
    float: right !important;
    margin-right: 1em !important;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(220, 221, 245);
}


.page_no_navbar {
    overflow: hidden;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}


.page-content-container {
    margin: auto;
    width: 1250px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 1em;
    border-radius: 1%;

}


#photo img {
    height: 18em;
    border-radius: 4%;
    margin: 2em 2em 2em 2em;
}


.page_content #photo {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text b {
    color: rgb(200, 82, 204);
}

.highlighted {
    color: rgb(200, 82, 204);
}

hr.solid {
    color: rgb(200, 82, 204);
    background-color: rgb(200, 82, 204);
    border-width: 0;
    height: 2px;
    margin-top: 2em;
    margin-bottom: 1.5em;
    width: 83%;

}

.page-scroll-container {
    margin: auto;
    width: 1250px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 1em;
    border-radius: 1%;
}


.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

