/* Drop animation needs to be in separate classes, cannot have a bigger "drop-animation" class as the animation would not work properly */

.drop-animation-1 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 600ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 600ms;

}

.drop-animation-2 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 700ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 700ms;

}


.drop-animation-3 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 800ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 800ms;

}


.drop-animation-4 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 900ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 900ms;

}


.drop-animation-5 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1000ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1000ms;

}


.drop-animation-6 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1100ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1100ms;

}


.drop-animation-7 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1200ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1200ms;

}


.drop-animation-8 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1300ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1300ms;

}


.drop-animation-9 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1400ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1400ms;

}


.drop-animation-10 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1500ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1500ms;

}


.drop-animation-11 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1600ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1600ms;

}

.drop-animation-12 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1700ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1700ms;

}
.drop-animation-13 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 1800ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 1800ms;

}.drop-animation-14 {
     position: relative;

     animation-name: drop-fade;
     animation-duration: 1900ms;

     -webkit-animation-name: drop-fade;
     -webkit-animation-duration: 1900ms;

 }
.drop-animation-15 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 2000ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 2000ms;

}
.drop-animation-16 {
    position: relative;

    animation-name: drop-fade;
    animation-duration: 2100ms;

    -webkit-animation-name: drop-fade;
    -webkit-animation-duration: 2100ms;

}


/* Fade in animations */
@keyframes drop-fade {
    0% {
        bottom: 12em;
        opacity: 0;
    }

    50% {
        bottom: 6em;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes drop-fade {
    0% {
        bottom: 12em;
        opacity: 0;
    }

    50% {
        bottom: 6em;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}


/* Typing animations */
@keyframes type {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}


.rise-animation-first {
    position: relative;

    animation-name: rise-fade;
    animation-duration: 2600ms;

    -webkit-animation-name: rise-fade;
    -webkit-animation-duration: 2600ms;

}

@keyframes rise-fade {
    0% {
        bottom: -3em;
        opacity: 0;
    }

    50% {
        bottom: -1em;
        opacity: 0;
    }

    70% {
        bottom: -0.5em;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes rise-fade {
    0% {
        bottom: -3em;
        opacity: 0;
    }

    50% {
        bottom: -1em;
        opacity: 0;
    }

    70% {
        bottom: -0.5em;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}


@keyframes engage-photo {
    0% {

    }
}


.draw-line-animation {
    animation-name: draw-line;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;

    -webkit-animation-name: draw-line;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-fill-mode: forwards;
}

@keyframes draw-line {
    0% {
        width: 0;
    }

    89% {
        width: 0;
    }

    100% {
        width: 83%;
    }
}


@-webkit-keyframes  draw-line {
    0% {
        width: 0;
    }

    89% {
        width: 0;
    }


    100% {
        width: 83%;
    }
}


.picture-animation {
    animation-name: picture-appear;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;

    -webkit-animation-name: picture-appear;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-fill-mode: forwards;
}


@keyframes picture-appear {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    86.3% {
        opacity: 1;
        box-shadow: 0 0 rgb(12, 10, 47);
        border-color: transparent;
    }
    98% {
        border-color: rgb(200, 82, 204);
    }
    100% {
        border-color: rgb(200, 82, 204);
        box-shadow: 15px 15px rgb(33, 19, 69);
    }
}

@-webkit-keyframes picture-appear {
    0% {
        opacity: 0;
        border-color: transparent;
    }
    60% {
        opacity: 0;
    }
    86.3% {
        opacity: 1;
        box-shadow: 0 0 rgb(12, 10, 47);
        border-color: transparent;
    }
    98% {
        border-color: rgb(200, 82, 204);
    }
    100% {
        border-color: rgb(200, 82, 204);
        box-shadow: 15px 15px rgb(33, 19, 69);
    }
}
<!---->