@import url("main.css");

/* Home */

#index {
    overflow: hidden;
}

/* Text on index page shares width with picture */

#index .text {
    margin: auto;
    width: 66%;
}

.photo {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.photo img {
    height: 18em;
    border-radius: 4%;
    margin: 2em 2em 2em 2em;
    box-shadow: 15px 15px rgb(33, 19, 69);

}

/* Typing animation */

.typing-animation {
/*    display: inline-block;
    margin: 0;
    padding: 0;
    border-right: .15em solid rgb(200, 82, 204);
    white-space: nowrap;
    overflow: hidden;
    width: 700px;
    opacity: 0;
    animation: type 5s steps(120, end), blink .5s step-end infinite alternate;
    -webkit-animation: type 5s steps(60, end), blink .5s step-end infinite alternate;

    animation-delay: 3s;
    -webkit-animation-delay: 3s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;*/
}
