@import url("main.css");

/* Projects */

/* Scrolling down*/
body #projects {
    overflow: scroll;
    overflow-x: hidden;
}

/* Make navbar translucent */
#projects .navbar {
    background-image: linear-gradient(to bottom, rgba(12, 10, 47, 1), rgba(12, 10, 47, 0));
}

#projects .page-content-container {
    padding-top: 4em;
}

.project {
    margin-top: 12%;
    display: inline-block;

}

.text-box {
    width: 60%;
    background-color: rgba(200, 82, 204, 0.05);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;
    border-color: rgb(200, 82, 204);
    border-style: solid;
    border-width: 0.05em;
    border-radius: 2%;
    box-sizing: border-box;
    padding: 2em;
    text-align: left;

}

#projects .project-text {
    display: inline-block;
    width: 49%;
    margin: auto;
    float: left;
    text-align: center;
}

.project-text h1, h2, h3, h4, h5, h6 {

}

#projects .photo {
    display: inline-block;
    width: 49%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

}

.left {
    padding-right: 1.8%;
}

.right {
    padding-left: 1.8%;
}

.photo img {
    position: relative;
    top: 50%;
    width: 100%;
    height: auto;
    border-radius: 2%;
    border-style: solid;
    border-width: 0.08em;
    margin-bottom: 2em;
    box-sizing: border-box;

}

i {
    padding: 0.25em;
}

#connect-4 {
    height: 40vw;
    width: auto;
}
<!---->